node_modules
.git
.github
.vscode
**/.next
**/.env
**/.env.*
!**/.env.production.example
**/*.db
**/*.db-journal
**/dist_server
**/dist
**/dashboard-testdir
**/testdir
**/*.log
**/output.log
**/pm2_logs.txt
mock_vps_key
mock_vps_key.pub
